@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto' ,Helvetica,Arial,sans-serif;
  height: 100%;
}
//Flights
.flightsContainer{
  box-sizing: border-box;
  margin:auto;
  padding: 20px;
  width: 100%;
  height: 100%;

  .aboveFormRow{
    width: 100%;
    height: 85px;

    .title{
      font-weight: 900;
      font-size: 30px;
      padding: 0px;
    }

    .subtitle{
      margin-top: 0;
      font-size: 15px;
      font-weight: 500;
    }


    text-align: left;
    font-size: 80px;
    font-weight: 600;
    margin: auto;
  }

  .formRow{
    margin: auto;
  }
  .formCol{
    padding: 0px;
    text-align: left;
  }

  .formCol1{
    padding: auto;
  }

  .flightInputGroup{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border: solid 5px #FEBB02;
    height: 100%;

  }



  .flightButton{
    border: solid 5px #FEBB02;
    height: 100%;
    width: 100%;

  }
}

//Flight component
.flightInfoRow{
  margin-top: 25px;
  width: 100%;

}

.flightInfo{
  margin-top: 10px;

  .flightCardHeader{
    display: flex;
    flex-direction: row;
  }
  
  .flightCardBody{
    height: 180px;
    border: solid 1px;
    
    .flightCardBodyInner{
      height: 150px;
    }

    .flightCardBodyInnerLeft{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-left: 50px;
      padding-right: 50px;
      .arrivalTime, .departureTime{
        text-align: left;
        font-size: 14px;
      }
    }


    .flightCardBodyInnerRight{
      .lugageIconsContainer{
        padding: 5px;
        text-align: right;
        .lugageIcons{
          margin: 3px;
          font-size: 19 px;
        }

        .lugageIconsSubtext{
          font-size: 11px;
          font-weight: 600;
        }
      }

      .priceContainer{
        height: 100px;
        padding: 2px;
        .price{
          padding-top: 5px;
          text-align: right;
          font-size: 28px;
          font-weight: 900;
        }
        .goToFlightButton{
          width: 100%;
        }
      }
    }
  }


}

//Register
.registerFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  .registerForm{

    padding-top: 10px;
  

    width: 368px;
    height: 340px;
    .registerBtn{
      display: block;
      width: 100%;
      height: 48px;
    }

  }
}

//LOGIN
.loginFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  .loginForm{

    padding-top: 10px;
  

    width: 368px;
    height: 340px;
    .loginBtn{
      display: block;
      width: 100%;
      height: 48px;
    }

  }
}

//NAVBAR

.navlinks{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .navlink{
    font-size: 10px;
    margin-right: 10px;
    border: solid 1px;
    border-radius: 20px;
  }

  .myNavSection{
    display: flex;
    flex-direction: row;
  }
  
  
}

//Helpers
.thiccFont{
  font-weight: 900;
}

.bigLetter{
  font-size:27px;
}
.transparent{
  opacity: 0.0 - 1.0;
}