@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto' ,Helvetica,Arial,sans-serif;
  height: 100%;
}

//LOGIN
.loginFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  .loginForm{

    padding-top: 10px;
  

    width: 368px;
    height: 340px;
    .loginBtn{
      display: block;
      width: 100%;
      height: 48px;
    }

  }
}

//NAVBAR

.navlinks{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .navlink{
    font-size: 10px;
    margin-right: 10px;
    border: solid 1px;
    border-radius: 20px;
  }

  .myNavSection{
    display: flex;
    flex-direction: row;
  }
  
  
}

//Helpers
.thiccFont{
  font-weight: 900;
}